python -m pip install Django
python -m pip install -U 'channels[daphne]'
python3 -m pip install channels_redis
pip install websockets
pip install websocket-client
python -m pip install django-tailwind
python manage.py tailwind install
pip install psutil
pip install django-redis
pip install aioredis
apt install redis-server
pip install psycopg2-binary
pip install django-environ
