<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en" class="bg-[#0d0d0d]">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/test.js' %}"></script>
    <title>Document</title>
    {% tailwind_css %}
    <style>
        #cpuProgressBarPercent {
            width: 250px;
            height: 150px;
        }

        #memoryProgressBarPercent {
            width: 250px;
            height: 150px;
            display: none;
        }

        #memoryProgressBarMB {
            width: 250px;
            height: 150px;
        }

        .progressbar-text {
            font-size: 24px;
            text-align: center;
        }

        #diskProgressBars {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            width: 450px;
            height: 500px;
            border-radius: 12px;
        }

        .popup input[type="checkbox"] {
            margin-right: 10px;
        }

        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .close-btn {
            margin-top: 10px;
            padding: 5px 10px;
            background-color: #f44336;
            color: white;
            border: none;
            cursor: pointer;
        }

        .open-btn {
            padding: 10px 15px;
            background-color: #008CBA;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <section class="w-full text-black flex min-h-[100vh]">
        <div>
            {% include 'nav.html' %}
        </div>
        <div class="bg-[#ffffff] w-[90%] h-min-[800px] mt-6 mr-6 ml-52 border-l-[#eaecee] border-2 rounded-t-3xl">
            <div class="w-full h-20 border-b-[#edeef1] border-b-2">
                <h1 class="pt-3 pl-10 text-lg font-semibold">Hardver felügyelet</h1>
                <i class="pt-3 pl-10 ">Péntek, 2024.10.01</i>
            </div>
            <div class="w-full mt-6 ml-6 flex flex-wrap">
                <div class="w-[450px] pt-4 pb-4 pl-4 rounded-3xl text-lg bg-[#ffffff] border-[#e2e4e6] shadow1">
                    <p class="font-semibold">Processzor:</p> <span id="cpu_type"></span>
                    <p class="font-semibold">Magok száma:</p> <span id="core_count"></span>
                    <p class="font-semibold">Összes memória:</p> <span id="ram_all"></span>
                </div>
            </div>
            <!-- Dashboard -->
            <div class="w-full min-h-[300px] flex ml-6 mt-6">
                <div
                    class="w-[95%] min-h-[300px] bg-[#ffffff] text-black flex flex-wrap justify-center shadow1 rounded-3xl">
                    <div class="w-full h-8 flex justify-between mt-3 text-xl font-semibold">
                        <div class="w-[56px]"></div>
                        <div>
                            <h2>Elsődleges nézet</h2>
                        </div>
                        <div id="primaryEditorContainer">
                            <button id="open-btn"><img src="{% static 'img/edit.png' %}" alt=""
                                    class="h-7 ml-4 mr-4 pt-1"></button>
                            <div class="overlay"></div>

                            <div id="popupWindow" class="popup">
                                <h2>Válassz elemeket</h2>
                                <div>
                                    <input type="checkbox" id="checkbox1" value="memoryProgressBarPercent"
                                        onchange="toggleDivVisibility(this)">
                                    <label for="checkbox1">Memória - %</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="checkbox2" value="memoryProgressBarMB"
                                        onchange="toggleDivVisibility(this)">
                                    <label for="checkbox2">Memória - MB</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="checkbox3" value="cpuProgressBarPercent"
                                        onchange="toggleDivVisibility(this)">
                                    <label for="checkbox3">Processzor - %</label>
                                </div>
                                <h4>Merevlemez - MB</h4>
                                <div id="diskContainer" class="pl-3">

                                </div>
                                <button class="close-btn">Bezárás</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center text-center">
                        <div class="flex justify-center text-center">
                            <div id="memoryProgressBarPercent" class="mr-6">
                                <h2>Memória</h2>
                            </div>
                        </div>
                        <div class="flex justify-center text-center">
                            <div id="memoryProgressBarMB" class="mr-6">
                                <h2>Memória</h2>
                            </div>
                        </div>
                        <div class="flex justify-center text-center">
                            <div id="cpuProgressBarPercent">
                                <h2>Processzor</h2>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center text-center">
                            <h2 id="mainDiskTitle" class="pb-4"></h2>
                            <div id="diskProgressBars">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="w-[95%] h-auto mt-6 ml-6 bg-[#ffffff] text-black flex flex-wrap justify-center shadow1 rounded-3xl">
                <div class="w-full h-auto flex justify-center mt-3 text-xl font-semibold">
                    <div class="w-full">
                        <h2>Statisztikák</h2>
                        <div class="w-full flex justify-center text-center">
                            {% include 'charts.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/progressbar.js"></script>
    <script>

        let ram_all = 0;
        let ram_used = 0;

        const socket = new WebSocket('ws://127.0.0.1:8000/ws/hardware/');

        let diskBars = [];

        var memoryBarPercent = new ProgressBar.SemiCircle('#memoryProgressBarPercent', {
            strokeWidth: 8,
            color: 'black',
            trailColor: '#f5f7f9',
            trailWidth: 12,
            easing: 'easeInOut',
            duration: 1200,
            svgStyle: { width: '100%', height: '100%' },
            text: {
                value: '0%',
                alignToBottom: false
            },
            from: { color: '#3253d6' },
            to: { color: '#d632a5' },
            step: (state, bar) => {
                bar.path.setAttribute('stroke', state.color);
                var value = Math.round(bar.value() * 100);
                bar.setText(value + ' %'); // Megjelenítés
            }
        });


        var cpuBarPercent = new ProgressBar.SemiCircle('#cpuProgressBarPercent', {
            strokeWidth: 8,
            color: 'black',
            trailColor: '#f5f7f9',
            trailWidth: 12,
            easing: 'easeInOut',
            duration: 1200,
            svgStyle: { width: '100%', height: '100%' },
            text: {
                value: '0%',
                alignToBottom: false
            },
            from: { color: '#3253d6' },
            to: { color: '#d632a5' },
            step: (state, bar) => {
                bar.path.setAttribute('stroke', state.color);
                var value = Math.round(bar.value() * 100);
                bar.setText('~' + value + ' %'); // Megjelenítés
            }
        });

        // WebSocket kapcsolat létrejötte
        socket.onopen = function (event) {
            console.log("WebSocket kapcsolat létrejött");
        }

        // WebSocketen keresztül érkező adatok kezelése
        socket.onmessage = function (event) {

            const data = JSON.parse(event.data);

            if (typeof data.disk_usages === "string") {
                // Ha JSON string, alakítsd vissza objektummá
                data.disk_usages = JSON.parse(data.disk_usages);
            }

            // Statikus adatok frissítése
            if (data.cpu_type !== undefined) {
                document.getElementById('cpu_type').innerText = data.cpu_type;
                document.getElementById('core_count').innerText = data.core_count;
                ram_all = data.ram_all * 1024;
                document.getElementById('ram_all').innerText = ram_all / 1024 + "GB";
            }

            // Dinamikus adatok folyamatos frissítése
            if (data.cpu_freq_current !== undefined) {
                cpu_freq_current = data.cpu_freq_current;
                cpu_percent = data.cpu_percent;
                ram_used = data.ram_used;
                const ram_used_percent = data.ram_used_percent / 100; // Megjegyzés: ez az újított adatok közé került

                // RAM progress bar animálása
                memoryBarMB.animate(ram_used / ram_all, {
                    duration: 800,
                    easing: 'easeInOut'
                });
                memoryBarMB.setText(ram_used + ' MB');

                const memoryUsedPercent = data.ram_used_percent / 100;
                memoryBarPercent.animate(memoryUsedPercent,);

                const cpuUsedPercent = data.cpu_percent / 100;
                cpuBarPercent.animate(cpuUsedPercent);


                //Innen
                if (data.disk_usages) {

                    let disk_usage = data.disk_usages;


                    const updateDiskUsage = (index, usedMB, totalMB) => {
                        diskBars[`diskProgressBar${index}`].animate(usedMB / totalMB, {
                            duration: 800,
                            easing: 'easeInOut',
                            //Az animáció lefutása után lehet kérni a szöveg frissítését
                            step: (state, bar) => {
                                bar.setText(usedMB + "MB");
                                //console.log(index+ ": ")
                                //console.log(state)
                            }
                        }, //(console.log("lefut"))
                        )

                    }

                    disk_usage.forEach((disk, index) => {
                        let usedMB = disk.used;
                        let totalMB = disk.total;
                        let percentage = usedMB / totalMB;

                        // Ha a disk progress bar már létezik, frissítjük
                        if (diskBars[`diskProgressBar${index}`]) {
                            updateDiskUsage(index, usedMB, totalMB)

                        } else {
                            //Ha még nem létezik
                            console.log(`Creating progress bar for disk ${index} with total ${totalMB} MB`);
                            
                            let progressBarTitle = document.createElement('h4')
                            progressBarTitle.innerText = disk.name
                            progressBarTitle.style.paddingBottom = '5px'
                            progressBarTitle.id = `diskProgressBar${index}-title`
                            let progressBarContainer = document.createElement('div');
                            progressBarContainer.id = `diskProgressBar${index}`;
                            progressBarContainer.style.width = '300px';
                            progressBarContainer.style.marginBottom = '20px';
                            document.getElementById('diskProgressBars').style.display = "none"
                            document.getElementById('mainDiskTitle').style.display = "none"
                            document.getElementById('diskProgressBars').appendChild(progressBarTitle);
                            document.getElementById('diskProgressBars').appendChild(progressBarContainer);

                            //Progressbar 
                            diskBars[`diskProgressBar${index}`] = new ProgressBar.SemiCircle(`#diskProgressBar${index}`, {
                                strokeWidth: 8,
                                color: 'black',
                                trailColor: '#f5f7f9',
                                trailWidth: 12,
                                easing: 'easeInOut',
                                duration: 1200,
                                svgStyle: { width: '100%', height: '100%' },
                                text: {
                                    value: 0,
                                    alignToBottom: false
                                },
                                from: { color: '#3253d6' },
                                to: { color: '#d632a5' },
                            });

                            //Kezdeti animáció
                            diskBars[`diskProgressBar${index}`].animate(percentage, {
                                duration: 800,
                                easing: 'easeInOut',
                                step: (state, bar) => {
                                    bar.path.setAttribute('stroke', state.color);
                                    bar.setText(usedMB + "MB");
                                    //console.log(usedMB);
                                }
                            });
                        }
                    });
                }
                //Idáig
            }
        };

        // WebSocket kapcsolat lezárása
        socket.onclose = function (event) {
            console.log('WebSocket kapcsolat lezárult');
        };

        var memoryBarMB = new ProgressBar.SemiCircle('#memoryProgressBarMB', {
            strokeWidth: 8,
            color: 'black',
            trailColor: '#f5f7f9',
            trailWidth: 12,
            easing: 'easeInOut',
            duration: 1200,
            svgStyle: { width: '100%', height: '100%' },
            text: {
                value: '0 MB',
                alignToBottom: false
            },
            from: { color: '#3253d6' },
            to: { color: '#d632a5' },
            step: (state, bar) => {
                bar.path.setAttribute('stroke', state.color);
                bar.setText(ram_used + ' MB');
            }
        });

    </script>

    <script>
        const diskContainer = document.getElementById("diskContainer")
        
        function toggleDiskDivVisibility(checkbox) {
            document.getElementById('diskProgressBars').style.display = "block"
            document.getElementById('mainDiskTitle').innerHTML = "Háttértár"
            const divId = checkbox.value;
            const div = document.getElementById(divId);
            const title = document.getElementById(divId+"-title");
            localStorage.setItem(divId, checkbox.checked);
            const dpb = document.getElementById("diskProgressBars")
            console.log(dpb.childNodes)
            div.style.display = checkbox.checked ? 'block' : 'none';
            title.style.display = checkbox.checked ? 'block' : 'none';
            const mainDiskTitle = document.getElementById("mainDiskTitle")
            mainDiskTitle.style.display = "block"
            let hiddenElement = 0
            for(let i = 1; i < dpb.childNodes.length; i++){
                if(dpb.childNodes[i].style.display === "none"){
                    hiddenElement++
                }
            }
            console.log(hiddenElement)
            if(hiddenElement === dpb.childNodes.length - 1){
                mainDiskTitle.style.display = "none"
            }
        }

        function loadDiskCheckboxStates() {
            const checkboxes = document.querySelectorAll('.popup #diskContainer div input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                const divId = checkbox.value;
                const isChecked = localStorage.getItem(divId) === 'true';
                checkbox.checked = isChecked;
                toggleDiskDivVisibility(checkbox);
            });

        }

        async function loadDiskData() {
            try {
                const response = await fetch("get_disks_data");

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const data = await response.json();

                const disks = JSON.parse(data.data);

                for (let i = 0; i < disks.length; i++) {
                    const div = document.createElement("div");
                    div.id = `${disks[i].name}-container`;

                    const checkbox = document.createElement("input");
                    checkbox.value = `diskProgressBar${i}`;
                    checkbox.type = "checkbox";
                    checkbox.id = disks[i].name;
                    checkbox.addEventListener('change', (event) => {
                        console.log(event.target)
                        toggleDiskDivVisibility(event.target)
                    })

                    const label = document.createElement("label");
                    label.htmlFor = disks[i].name;
                    label.textContent = disks[i].name;

                    div.appendChild(checkbox);
                    div.appendChild(label);

                    const diskContainer = document.getElementById("diskContainer");
                    diskContainer.appendChild(div);

                }
            } catch (error) {
                console.error('An error occurred:', error);
            }
        }

        (async () => {
            await loadDiskData();
            loadDiskCheckboxStates()
        })();

        // Gombok és elemek lekérése
        const openBtn = document.querySelector('#open-btn');
        const closeBtn = document.querySelector('.close-btn');
        const popup = document.querySelector('.popup');
        const overlay = document.querySelector('.overlay');

        // Nyitás esemény
        openBtn.addEventListener('click', () => {
            popup.style.display = 'block';
            overlay.style.display = 'block';
        });

        // Zárás esemény
        closeBtn.addEventListener('click', () => {
            popup.style.display = 'none';
            overlay.style.display = 'none';
        });

        //Az overlayre kattintva is záródik a popup
        overlay.addEventListener('click', () => {
            popup.style.display = 'none';
            overlay.style.display = 'none';
        });
        document.getElementById('cpuProgressBarPercent');

        // ITTEN VAGYOK - Ez csak azért szopás mert nem az a neve mint ami az proges bar holder id
        function toggleDivVisibility(checkbox) {
            console.log(checkbox)
            const divId = checkbox.value; // Checkbox value, div ID-ja
            const div = document.getElementById(divId);
            div.style.display = checkbox.checked ? 'block' : 'none';
            localStorage.setItem(divId, checkbox.checked);
        }

        //Checkboxok állapotának betöltésébe
        function loadCheckboxStates() {
            const checkboxes = document.querySelectorAll('.popup input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                const divId = checkbox.value;
                const isChecked = localStorage.getItem(divId) === 'true'; // Ellenőrizzük, hogy a checkbox korábban be volt-e pipálva
                checkbox.checked = isChecked; // Állítsuk be a checkbox állapotát
                toggleDivVisibility(checkbox); // Megjelenítjük vagy elrejtjük a megfelelő divet
            });
        }

        // Betöltjük a checkbox állapotokat a lap betöltésekor
        window.onload = loadCheckboxStates;
    </script>
</body>

</html>