{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
</head>
<body>
    <div class="w-28 h-full flex bg-[#f5f7f9] items-center fixed">
        <nav class="w-28 h-[100vh]">
            <a href="/">LOGO</a>
            <a href="/ws/hardware" class="text-red-500">Hardver</a>
            <a href="/ws/services">Szolgáltatások</a>
            <a href="/ws/network">Hálózat</a>
            <a href="/ws/network">Értesítés</a>
        </nav>
    </div>
</body>
</html>